/* styles for the search container */
.search-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.99);
  padding-top: 15vh;
  display: none; /*the search container is hidden initially*/
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  z-index: 2000;
}

#search-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: var(--main-color);
}
#search-close:hover {
  color: red;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-input {
  height: 3rem;
  width: 80%;
  max-width: 500px;
  background-color: transparent;
  border: none; /* in the general styles all inputs have a border and border radius*/
  border-radius: 0;
  border-bottom: solid 0.2rem white;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: white;
  font-weight: 300;
}
.search-input:focus {
  box-shadow: none;
  border: none;
  border-bottom: solid 0.2rem var(--main-color);
}
.search-input::placeholder {
  font-size: 1.2rem;
  color: var(--text-color);
}

.search-button {
  height: 3rem;
  width: 3.5rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.search-icon-2 {
  font-size: 2rem;
}

.search-results {
  width: 100%;
  max-width: 600px;
  margin-top: 3rem;
  padding: 2vw;
}

.search-item {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.item-image {
  width: 100%;
  height: auto;
}

.item-image img {
  width: 100%;
  height: auto;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.item-prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.marked-prices {
  text-decoration: line-through;
}
